@import 'color.scss';

.pageHeaderSub .pageHeaderIn{
  background: $bg-color;

  h1 {
    color: $text-color;
  }
}
.searchWrapper {
  background: $input-bg-color;
  
  .btnSearch {
    background: $input-bg-color;
  }
}

body, button, input, textarea {
  color: $text-color;
}

.listGroup li a {
  background: $input-bg-color;
}

.searchBtnGroup li {
  background: $input-bg-color;
  
  a {
    color: $text-color;
  }
}
.ui-widget-content {
  background: $input-bg-color;
}
.ui-menu .ui-menu-item a {
  background: $input-bg-color;
}