@import 'color.scss';

.pageHeaderSub .pageHeaderIn{
  background: $bg-color;

  h1 {
    color: $text-color;
  }
}
.searchWrapper {
  background: $hover-bg-color;
  
  .btnSearch {
    background: $input-bg-color;
  }
}

body, button, input, textarea {
  color: $text-color;
}

.listGroup li a {
  background: $input-bg-color;
}

.searchBtnGroup li {
  background: $input-bg-color;
  
  a {
    color: $text-color;
  }
}
.ui-widget-content {
  background: $input-bg-color;
}
.ui-menu .ui-menu-item a {
  background: $input-bg-color;
}

.itemWrapper .itemModule.list .itemModuleIn + .check label .favoriteCount, .itemWrapper .itemModule.ranking .rankingFooter .iconContainer li.favoriteCount, .itemWrapper .itemModule.list .itemModuleIn .textContainer .favoriteCount, .favoriteButton .favoriteCount {
  background-color: $bg-color;
}

.itemWrapper .itemModule.list .itemModuleIn + .check label .favoriteCount::after, .itemWrapper .itemModule.ranking .rankingFooter .iconContainer li.favoriteCount::after, .itemWrapper .itemModule.list .itemModuleIn .textContainer .favoriteCount::after, .favoriteButton .favoriteCount::after {
  background-color: $bg-color;
}

// hover
html.mouseDevice .listGroup li a:hover {
  background: $hover-bg-color;
}

html.mouseDevice .searchBtnGroup li a:hover {
  color: $text-color;
  background: $hover-bg-color;
}