@import 'top.scss';
@import 'news.scss';
@import 'search.scss';
@import 'work.scss';
@import 'mypage.scss';
@import 'ec.scss';

html {
  background-color: $bg-color;
}

// global
body {
    color: $text-color;
    background: $bg-color !important;
}

a:link, a:active, a:visited {
    color: $link-text-color;
}

img {
  opacity: 0.8 !important;
}

.contentsWrapper {
  background: $bg-color;
  border: none;
}

.pageHeader.top .pageHeaderIn .thumbnailContainer a i {
  filter: invert(100%);
}